<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Uploading Mul Files</title>
  </head>

  <body>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <h4>Succesfully Logged In!</h4>
      <h1>Add the files</h1>
      <input type="file" name="files" multiple>
      <button type="submit" name="button">Upload</button>
  </form>

  </body>
</html>
